* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/** Estilos generales */

/*--------HEADER--------*/
.main-header {
    width: 100%;
    height: 96px;
    margin: center;
    border-bottom: 2px solid orange;
}
.container {
    margin: 6px 25px 6px 25px;
    justify-content: space-between;
}
.container--flex {
    display: flex;
    flex-wrap: nowrap;
}
.logo-container {
    color: white;
    padding: 28px 16px;
}
.main-nav {
    display: block;
    padding: 38px 40px ;
}
.menu__item {
    display: inline-flex;
    flex-wrap: nowrap;
    text-align: center;
}
.menu__link {
    text-decoration: none;
    color: white;
    padding: 0px 20px;    
}

/*------------MAIN---------*/
.banner__img {
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: -1000;
    margin-top: -100px;
}
.section__inicio {
    display: block;
    padding: 50px;
    margin-top: -650px;
}
.btn__readmore {
    margin-top: 6vh;
    padding: 10px;
    width: 100px;
    background-color: orange;
    border-radius: 30%;
}
.btn {
    text-decoration: none;
    color: white;
    text-align: center;
}
.section__inicio {
    display: block;
}
.slider {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 600px;
    height: 100px;
}
.slider__item {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: transparent;
    color: white;
}
.slider__item:first-child {
    opacity: 1;
} 
.slider__item:target {
    opacity: 1;
}
.menu2 {
    margin-top: 100px;
    list-style: none;
}
.menu2 li {
    display: inline-block;
}
.menu2 li a {
    display: inline-block;
    color: transparent;
    text-decoration: none;
    background-color: orange;
    padding: 2px;
    width: 2px;
    height: 2px;
    font-size: 1px;
    border-radius: 100%;
}




/*-----ABOUT-----*/
.section-about {
    margin-top: 500px;
    width: 100%;
    height: 700px;
    display: block;
}
.about-content {
    display: block;
    margin-top: 540px;
    margin-left: 350px;
    width: 750px;
    height: 950px;
}
.about__title {
    font-size: 50px;
}
.about__txt {
    margin-top: 50px;
    text-align: justify;
}
.adorno {
    margin-top: -950px;
    margin-left: 0;
    width: 45px;
    height: 450px;
    background-color: orange;
}


/*------- SECTION PRODUCTS -------*/
.section-products {
    margin-top: 80px;
    width: 100%;
    height: 800px;
    background-color: #F2F4F1;
}
.adorno__product {
    float: right;
    width: 400px;
    height: 800px;
    background-color: darkgrey;
    z-index: 1000;
}
.products__content {
    margin: auto;
    position: relative;
    background-image: url(../images/section3-image.png);
    display: block;
    width: 1000px;
    height: 570px;
    object-fit: cover;
}
.product__cards {
    float: right;
    margin-top: 27%;
    padding: 50px;
    background-color: orange;
    width: 400px;
    height: 300px;
    color: white;
    text-align: justify;
}
.products__card-nav {
    float: right;
}
.products__maintitle {
    font-size: 45px;
}
.product__txt {
    text-align: justify;
}

/*----- SERVICES -----*/

.section-services {
    margin: auto;
}

.banner__services {
    float: right;
    width: 50%;
    height: 800px;
    object-fit: cover;
}
.accordion {
    display: block;
    margin: auto;
    margin-top: 200px;
    margin-left: 300px;
    float: left;
    width: 700px;
    text-align: justify;
}
.accordion input {
    display: none;
}

.accordion-card-title {
    display: block;
    padding: 18px;
    background: #F8F8F8;
    color: #5F6368;
    font-size: 25px;
    cursor: pointer;
    border-bottom: 1.5px solid #fff;
}
.accordion-card-title:hover {
    background: #F8F8F8;
    opacity: 0.5;
}

.accordion-chevron {
    float: right;
}
.accordion-card-content {
    color: #5F6368;
    font-size: normal;
    height: 0;
    overflow: hidden;
    margin: 0;
}
.accordion input:checked ~.accordion-card-content {
    height: 100px;
    margin: 30px;
}


/*----- CONTACT -----*/

.section-contact {
    margin: auto;
    margin-top: 800px;
    background: #F2F4F1;
    height: 800px;
}
.adorno__contact {
    margin-top: -218px;
    height: 800px;
    width: 800px;
    float: right;
    background: #DCE1DA;
}
.img__contact {
    margin: auto;
    margin-left: 1000px;
    margin-top: -1000px;
    padding: 200px;
    z-index: -1000;
}
.contact__title {
    padding: 50px;
    margin-top: 300px;
    font-size: 50px;
}
.info__contact .inputBox {
    position: relative;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
}
.info__contact .inputBox input,
.info__contact .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 30px;
    margin: 10px 0;
    border: none;
    background-color: #F2F4F1;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}
.info__contact .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}
.info__contact .inputBox input:focus ~span,
.info__contact .inputBox input:valid ~span, 
.info__contact .inputBox textarea:focus ~span,
.info__contact .inputBox textarea:valid ~span {
    color: orange;
    font-size: 20px;
    transform: translateY(-20px);
}
.info__contact .inputBox input[type="submit"] {
    width: 100px;
    background: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 40%;
}

/*----- FOOTER -----*/
.footer {
    width: 100%;
    height: 50px;
    background: #343434;
}
.copyright {
    margin-left: 50px;
    padding: 15px;
}
.footer__logo {
    float: right;
    margin-top: -28px;
    padding: 0px 50px;
}
